In [1]:
#import required libraries
import pandas as pd

In [4]:
#import the diabetes dataset
df_diabetes_data = pd.read_csv("C:/Users/ProBook/Downloads/Lesson 8-2/pima-indians-diabetes.data",header=None)

In [5]:
#view first five observations
df_diabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [12]:
#use the name fil supplied with dataset to set the columns
feature_names = ['pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']

In [13]:
#fix the dataframe  with the column names
df_diabetes_data=pd.read_csv("C:/Users/ProBook/Downloads/Lesson 8-2/pima-indians-diabetes.data",header=None,names=feature_names)

In [14]:
#view first five observations
df_diabetes_data

     pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0           6      148  72    35        0  33.6     0.627   50      1
1           1       85  66    29        0  26.6     0.351   31      0
2           8      183  64     0        0  23.3     0.672   32      1
3           1       89  66    23       94  28.1     0.167   21      0
4           0      137  40    35      168  43.1     2.288   33      1
..        ...      ...  ..   ...      ...   ...       ...  ...    ...
763        10      101  76    48      180  32.9     0.171   63      0
764         2      122  70    27        0  36.8     0.340   27      0
765         5      121  72    23      112  26.2     0.245   30      0
766         1      126  60     0        0  30.1     0.349   47      1
767         1       93  70    31        0  30.4     0.315   23      0

[768 rows x 9 columns]

In [15]:
#view the dataset shape
df_diabetes_data.shape

(768, 9)

In [21]:
#select features from the dataset for model building purpose
feature_columns = ['pregnant','insulin','bmi','age']
#create feature objects
X_feature=df_diabetes_data[feature_columns]
#create response objects
Y_target=df_diabetes_data['label']

In [22]:
#view shape of the feature object
X_feature.shape

(768, 4)

In [24]:
#view shape of the target object
Y_target.shape

(768,)

In [26]:
#split test and training data(75,25)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(X_feature,Y_target,random_state=1)

In [28]:
#train a logistic regression model on the training set
from sklearn.linear_model import LogisticRegression
logReg=LogisticRegression()
logReg.fit(x_train,y_train)

C:\Users\ProBook\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
#make prediction for the training set
y_pred = logReg.predict(x_test)

In [33]:
#check for accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

0.6979166666666666

In [34]:
print('actual',y_test.values[0:30])
print('predicted:')

actual [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]
predicted: